debug.log
.vscode/settings.json
.jython_cache
.eggs
dist
build
__pycache__
.DS_Store
src/out
TissUUmaps.egg-info
tests
.tissuumaps
.ipynb_checkpoints
plugins_repo/pluginList.json
tissuumaps/web/
plugins
