recursive-include tissuumaps/templates *
recursive-include tissuumaps/static *
recursive-include tissuumaps/plugins *
recursive-include tissuumaps/flask_filetree *
recursive-include tissuumaps/flask_filetree *
include tissuumaps/VERSION
